
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=League+Spartan:wght@400;700&family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

#header-img {
  width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #eee;
  z-index: 1;
}

@media (max-width: 700px) {
  header {
    height: 80px;
  }
}

main {
  margin: 40px auto 0 auto;
  max-width: 900px;
}

@media (max-width: 700px) {
  main {
    margin-top: 80px;
  }
}

li, a {
  text-decoration: none;
  color: black;
}

.nav-ul {
  list-style: none;
}

.nav-ul li {
  display: inline-block;
  margin: 0 30px;
}

@media (max-width: 830px) {
  .nav-ul li {
    margin: 0 10px;
  }
}

@media (max-width: 700px) {
  .nav-ul li {
    margin: 0 3px;
  }
}

.nav-ul li a {
  transition: all 0.3s ease 0s;
}

.nav-ul li a:hover {
  color: orange;
}

.top-div {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.top-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#email {
  height: 30px;
  width: 250px;
  margin-bottom: 10px;
  background-color: white;
  border: black solid 0.2px;
}

#submit {
  width: 150px;
  height: 30px;
  background-color: #F5D351;
  border-radius: 3px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#submit:hover {
  background-color: orange;
}

.icon {
  color: rgb(215, 144, 10);
  width: 100px;
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
}

#features {
  margin-top: 70px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 20px 20%;
}

.text {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  margin-left: 30px;
}

.text h2 {
  font-family: 'Lato', sans-serif;
}

.text p {
  font-family: 'Lato', sans-serif;
}

#how_it_works {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.price-div {
  width: 262px;
  height: 311px;
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
}

.price-title {
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #d1d5d6;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 16px;
  padding-top: 5%;
}

.price-value {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 22px;
  padding-top: 5%;
}

.price-text {
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 160px;
  width: 100%;
  line-height: 4vh;
  padding-top: 5%;
}

.btn-select {
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  align-items: center;
  text-align: center;
  background-color: #F5D351;
  font-family: 'Lato', sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  height: 70px;
  background-color: #d1d5d6;
}

@media (max-width: 700px) {
  footer {
    width: 100%;
  }
}


#footer-ul {
  list-style: none;
  margin-top: 5px;
}

#footer-ul > li {
  display: list-item;
  margin: 5px 10px;
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.footer-bottom {
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 10px 8px 0 0;
}